*{
border:none;
}

#app{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 90vh;
gap: 50px;
}

.btn{
font-size: 20px;
width: 60px;
height: 60px;
border-radius: 10px;
margin: 0 5px;
text-transform: uppercase;
}

.a{
background-color: cornflowerblue;
color: blueviolet;
}

.a:hover{
opacity: .75;
}

.b:hover{
opacity: .75;
}

.b{
background-color: blueviolet;
color: cornflowerblue;
}

.firstLine {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 10px;
}

.card{
display: flex;
flex-direction: column;
align-items: center;
gap:30px
}


.card p{
font-size: 60px;
color: blueviolet;
text-transform: uppercase;
margin: 5px 0;
}

.card p span{
font-size: 60px;
color: cornflowerblue;
text-transform: uppercase;
}

.card button{
padding: 0;
height: 250px;
}

.card button img{
padding: 0;
width: 350px;
height: 250px;
}

.hide{
display: none;
}

@media (max-width: 376px){
.btn{
font-size: 20px;
width: 50px;
height: 50px;
border-radius: 10px;
margin: 0 2px;
text-transform: uppercase;
}
.card button{
padding: 0;
height: 200px;
}
      
.card button img{
padding: 0;
width: 300px;
height: 200px;
}
.card p{
font-size: 50px;
color: blueviolet;
text-transform: uppercase;
margin: 5px 0;
}
.card p span{
font-size: 50px;
color: cornflowerblue;
text-transform: uppercase;
}
}
  
