*{
border:none;
}

#app{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
gap: 10px;
}

.btn{
font-size: 20px;
width: 60px;
height: 60px;
border-radius: 10px;
margin: 0 5px;
text-transform: uppercase;
}

.a{
background-color: cornflowerblue;
color: blueviolet;
}

.a:hover{
opacity: .75;
}

.b:hover{
opacity: .75;
}

.b{
background-color: blueviolet;
color: cornflowerblue;
}

.firstLine {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px
}


.card p{
font-size: 60px;
color: blueviolet;
text-transform: uppercase;
}

.card p span{
  font-size: 60px;
  color: cornflowerblue;
  text-transform: uppercase;
  }

.card button{
padding: 0;
height: 300px;
}

.card button img{
padding: 0;
width: 400px;
height: 300px;
}

.hide{
  display: none;
}

@media (min-width: 1025px){

}
